[submodule "opscode/maven"]
	path = opscode/maven
	url = git://github.com/opscode-cookbooks/maven.git
[submodule "opscode/java"]
	path = opscode/java
	url = git://github.com/opscode-cookbooks/java.git
[submodule "scalarium/examples"]
	path = scalarium/examples
url=git@github.com:adrian0cg/example-cookbooks.git
